

body{
    background-color: hsl(217, 54%, 11%);
    
}

.flex-card{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card{
    width: 300px;
    height: 460px;
    margin: 130px;
    border-radius: 11px;   
}
.bg-card{
    background-color: hsl(216, 50%, 16%);
}
.size-img{
    width: 90%;
    aspect-ratio: 16/14;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 12px;
}

.text-color{
    color: hsl(0, 0%, 100%);
    
}
.margin-left-15{
    margin-left: 15px;
}
.margin-right-15{
    margin-right: 15px;
}

.display-block{
    display: block;
}
.font-size{
    font-size: 15px;
}
.width-paragraph-card{
    width: 100px;
}
.text-color-paragraph{
    color: hsl(215, 51%, 70%);
}
.margin-top-15{
    margin-top: 15px;
}
.svg-size{
    width: 10px;
}
.color-cyan{
    color: hsl(178, 100%, 50%);
}
.margin-inter-svg{
    margin-left: 3px;
}

.avatar-size{
    width: 30px;
}